= stylesheet_link_tag "invites/invite"

.row#invite_instructions
  = t('invitations.form.title.enter_email_addresses.admin')

%br/
%br/
/ form
= form_for(@user, url: { action: :respond }, html: {:class => 'form-horizontal', :id => 'invite_signup'}) do |f| 

  / header - account info
  .row
    .span1
    .span5
      %h3= t('terms.account_information')

  / email
  #email_group.control-group{:class => @user.errors.messages[:email].nil? ? "" : "error"}
    .span1
    .span3.form-label
      = f.label(:email, t('terms.email'), :class => 'control-label')
    .span6
      %span
        - email_value = @user.email.blank? ? ConstantsHelper::INVITATION_NAME_DEFAULT : @user.email
        = f.text_field(:email, :value => email_value)

  / password
  #password_group.control-group{:class => @user.errors.messages[:password].nil? ? "" : "error"}
    .span1
    .span3.form-label= f.label(:password, t('terms.password'), :class => 'control-label')
    .span6
      %span
        - password_value = @user.password.blank? ? ConstantsHelper::INVITATION_NAME_DEFAULT : @user.password
        = f.text_field(:password, :value => password_value)


  / password_confirmation
  #password_confirmation_group.control-group{:class => @user.errors.messages[:password_confirmation].nil? ? "" : "error"}
    .span1
    .span3.form-label
      = f.label(:password_confirmation, t('terms.password_confirmation'), :class => 'control-label')
    .span6
      %span
        - password_confirmation = @user.password_confirmation.blank? ? ConstantsHelper::INVITATION_NAME_DEFAULT : @user.password_confirmation
        = f.text_field(:password_confirmation, :value => password_value)

  / divider
  .row
    .span1
    .span10.divider_line
    .span1

  / header - account info
  .row
    .span1
    .span5
      %h3= t('terms.invite_information')


  / action
  .row
    .span4
    .span1
      = f.submit(t('terms.reject_invitation'), :class => 'btn btn-danger') 
    .span2
    .span1
      = f.submit(t('terms.accept_invitation'), :class => 'btn btn-success') 
    .span3
