- content_for :head do
  = javascript_include_tag "d3"
  = javascript_include_tag "angular"
  = javascript_include_tag "angular/common/modules/analytics"
  = javascript_include_tag "angular/analytics/index"
  = javascript_include_tag "analytics/analytics-controller"

.row
  %h1 Analytics
  %br/
.row
  .col-md-3
  .col-md-9
    -# = link_to 'New Invitation', new_invitation_path, :class => 'btn btn-primary btn-large'
%br/

.row{'ng-app' => 'analyticsIndex', 'ng-controller' => 'analyticsCtrl'}
  -# analytics filter
  .col-md-3
    %form.form-horizontal{'role' => 'form'}
      .form-group
        .col-sm-5
          %label.control-label Filter 
        .col-sm-7
          %input.form-control{'ng-model'=>'query'}
      -# student ids
      - @students.each_with_index do |student, i|
        .form-group
          .col-md-7
            %label.control-label
              - if(i==0)
                = t('terms.student_id', :count => 3)
          .col-md-5.checkbox
            %label
              %input{'type'=>'checkbox', 'ng-model'=>'onlySent'}= student.student_id
      -# core courses
      - @core_courses.each_with_index do |course, i|
        .form-group
          .col-md-7
            %label.control-label
              - if(i==0)
                = t('terms.core_course')
          .col-md-5.checkbox
            %label
              %input{'type'=>'checkbox', 'ng-model'=>'onlySent'}= course.name.capitalize
  -# analytics visual
  .col-md-9
    #visual
    :javascript
      // create controller
      var d3Controller = createDS3Controller(d3);

      // angular 
