- content_for :head do
  = javascript_include_tag "d3"
  = javascript_include_tag "lib/namespace"
  = javascript_include_tag "lib/dispatcher-util"
  = javascript_include_tag "lib/angular/text"
  = javascript_include_tag "angular/analytics/model/analytics"
  = javascript_include_tag "angular/analytics/constants"
  = javascript_include_tag "angular/analytics/view/d3"
  = javascript_include_tag "angular/analytics/view/d3-example1"
  = javascript_include_tag "angular/analytics/view/forms"

.row
  %h1 Analytics
  %br/
.row
  .col-md-3
  .col-md-9
    -# = link_to 'New Invitation', new_invitation_path, :class => 'btn btn-primary btn-large'
%br/

-#.row{'ng-app' => 'analyticsIndex', 'ng-controller' => 'analyticsCtrl'}
.row{'ng-app' => 'd3AngularApp', 'ng-controller' => 'MainCtrl'}
  -# analytics filter
  .col-md-3
    %form.form-horizontal{'role' => 'form'}
      .form-group
        .col-sm-5
          %label.control-label Filter 
        .col-sm-7
          %input.form-control{'ng-model'=>'query'}
      -# apply changes - submit
      %input{"type" => "button", "value" => "Apply Changes", "ng-click" => "onApplyChanges()"}
      -# student ids
      .form-group{'ng-repeat' => 'student in students'}
        .col-md-7
          %label.control-label{"ng-if" => "$index == 0"}
            = t('terms.student_id', :count => 3)
        .col-md-5.checkbox
          %label{"aku-student-checkbox" => "", "on-click"=>"onClick()", "student" => "student"}
      -# core courses
      .form-group{'ng-repeat' => 'course in courses'}
        .col-md-7
          %label.control-label{"ng-if" => "$index == 0"}
            = t('terms.core_course', :count => 3)
        .col-md-5.checkbox
          %label{"aku-checkbox-course" => "", "on-click"=>"onClick()", "course" => "course"}
  -# analytics visual
  .col-md-9
    %div{"d3-bars" => "", "bar-height" => "20", "margin" => "30","padding" => "30", "data"=>"data", "students" => "students", "courses" => "courses"}
