- content_for :head do
  = javascript_include_tag "angular_datepicker.js"

%br/
.row
  .col-md-2
  .col-md-8
    - if @dataset.errors.any? 
      #error_explanation
        %h2= "#{pluralize(@dataset.errors.count, "error")} prohibited this dataset from being saved:"

        %ul
          -@dataset.errors.full_messages.each do |msg|
            %li= msg 
    = form_for(@dataset, :html => {:role => "form", :class => "form-horizontal", :multipart => true, 'ng-app' => "datePickerApp"}) do |f| 
      = f.hidden_field(:creator_id, :value => current_user.id)
      .form-group
        %label.col-md-3.control-label{'for'=>"programName"}= t('terms.program_name')
        .col-md-9
          %label.form-control#programName= "#{@program.name}"
          = f.hidden_field(:program_id, :value => @program.id)
      %br/




      -# effective date
      .form-group{'ng-controller' => "DatepickerDemoCtrl"}
        %label.col-md-3.control-label{'for'=>"effectiveData"}= "#{t('datasets.form.labels.effective_date')}"
        .col-md-9
          .row
            .col-md-6
              %p.input-group
                %input.form-control{'id' => "dataset_effective_at", 'name' => "dataset[effective_at]", 'type' => "text", 'datepicker-popup' => "{{format}}", 'ng-model' => "dt", 'is-open' => "opened", 'min' => "minDate", 'max' => "'2015-06-22'", 'datepicker-options' => "dateOptions", 'date-disabled' =>"disabled(date, mode)", 'ng-required' => "true", 'close-text' => "Close"}
                  %span.input-group-btn
                    %button.btn.btn-default{'ng-click' => "open($event)"}
                      %i.glyphicon.glyphicon-calendar


      -# file_attachment
      .form-group
        %label.col-md-3.control-label= "#{t('terms.file_attachment')}"
        .col-md-9
          = f.file_field :attachment
      %br/

      .form-group
        %label.col-md-3.control-label
        .col-md-9
          = f.submit("value" => "Create Dataset")
  .col-md-2
