- content_for :head do
  = javascript_include_tag "angular_datepicker.js"


-# %form.form-horizontal{'role'=>"form"}

.row
  .col-md-2
  .col-md-8
    - if @dataset.errors.any? 
      #error_explanation
        %h2= "#{pluralize(@dataset.errors.count, "error")} prohibited this dataset from being saved:"

        %ul
          -@dataset.errors.full_messages.each do |msg|
            %li= msg 
    = form_for(@dataset, :html => {:role => "form", :class => "form-horizontal", :multipart => true, 'ng-app' => "datePickerApp"}) do |f| 
      .form-group
        %label.col-sm-3.control-label{'for'=>"programName"}= t('terms.program_name')
        .col-sm-9
          %label.form-control#programName= "#{@program.name}"
          = f.hidden_field(:program_id, :value => @program.id)
      %br/
      .form-group
        %label.col-sm-3.control-label{'for'=>"inputEmail3"}Email
        .col-sm-9
          %input.form-control#inputEmail3{'type'=> "email", 'placeholder' => "Email"}
      %br/
      .form-group
        %label.col-sm-3.control-label{'for'=>"inputPassword3"}Password
        .col-sm-9
          %input.form-control#inputPassword3{'type'=>"password", 'placeholder'=>"Password"}
      .form-group
        .col-sm-offset-3.col-sm-9
          %button.btn.btn-default{'type'=>"submit"}Sign in
  .col-md-2

%br/
%br/
%br/

.row
  .col-md-2
  .col-md-8
    = form_for(@dataset, :html => { :multipart => true, 'ng-app' => "datePickerApp"}) do |f| 
      - if @dataset.errors.any? 
        #error_explanation
          %h2= "#{pluralize(@dataset.errors.count, "error")} prohibited this dataset from being saved:"

          %ul
            -@dataset.errors.full_messages.each do |msg|
              %li= msg 

      / program name
      #program_group.row
        .span4.form-label
          %span{:class => "form-label text-info"}
            = "#{t('terms.program')}"
        .span8
          %span
          = f.label(:name, :value => @program.name)
          = f.hidden_field(:program_id, :value => @program.id)

      / effective date
      #program_group.row{'ng-controller' => "DatepickerDemoCtrl"}
        .span4.form-label
          %span{:class => "form-label text-info"}
            = "#{t('datasets.form.labels.effective_date')}"
        .span8
          .row
            .col-md-6
              %p.input-group
                %input.form-control{'type' => "text", 'datepicker-popup' => "{{format}}", 'ng-model' => "dt", 'is-open' => "opened", 'min' => "minDate", 'max' => "'2015-06-22'", 'datepicker-options' => "dateOptions", 'date-disabled' =>"disabled(date, mode)", 'ng-required' => "true", 'close-text' => "Close"}
                  %span.input-group-btn
                    %button.btn.btn-default{'ng-click' => "open($event)"}
                      %i.glyphicon.glyphicon-calendar
          .row
            .col-md-6
              %label 
                Format: 
              %select.form-control{'ng-model' => "format", 'ng-options' => "f for f in formats"}
                %option

      / file_attachment
      #program_group.row
        .span4.form-label
          %span{:class => "form-label text-info"}
            = "#{t('terms.file_attachment')}"
        .span8
          %span
          = f.file_field :attachment


      .actions
        = f.submit
  .col-md-2
