- provide(:title, "Core Courses")
%h1 Listing Core Courses

= link_to 'Create Core Course', new_core_course_path
= will_paginate

%ul
  - @courses.each do |course|
    %li= link_to course.name, course

= will_paginate 

%br/

= link_to 'New Core Course', new_core_course_path
