<% provide(:title, "Programs") %>
<h1>Listing programs</h1>

<%= link_to 'Create Program', new_program_path %>
<%= will_paginate %>

  <ul>
    <% @programs.each do |program| %>
      <li><%= link_to program.name, program %></li>
    <% end %>
  </ul>

<%= will_paginate %>

<br>

<%= link_to 'New Program', new_program_path %>
