<% provide(:title, "Review Invitations (Step 2 of 2)") %>
<%= javascript_include_tag "form_utilities" %>

<h2>Review Invitations ( Step 2 of 2 )</h2>

<div class="row" id="review_instructions">
  <%= t('invitations.form.review.invitations', count:1) %>
</div>

<% if(@invitation_type == ConstantsHelper::ROLE_LEVEL_ADMIN.to_s) %>
  <br/><br/>
  <div class="row label label-warning">
    <div class="span12">
      <h5><%= t('invitations.form.warnings.admin_invitations') %></h5>
    </div>
  </div>
<% end %>

<br/><br/>
<%= form_tag({:action => "send_invitations", :controller => "invitations"},{:class => 'form-horizontal', :id => 'review_invitations'}) do %>
  <!-- PROGRAM -->
  <div id="program_group" class="row">
    <div class="span4 form-label">
      <span class="form-label text-info"><%= t('terms.program') %>:</span>
    </div>
    <div class="span8">
      <span><%= @program.name %></span>
    </div>
  </div>

  <!-- INVITATION -->
  <div id="invitation_group" class="row">
    <div class="span4 form-label">
      <span class="form-label text-info"><%= t('terms.invitation_type') %>:</span>
    </div>
    <div class="span8">
      <span><%= @invitation_level %></span>
    </div>
  </div>

  <div class="row">
    <div class="span2">
      <!-- HIDDEN TAGS -->
      <%= hidden_field_tag(:program_id, @program_friendly) %>
      <%= hidden_field_tag(:invitation_type, @invitation_type) %>
      <%= hidden_field_tag(:email_addresses, @emails_param) %>
    </div>
    <div class="span4">
      <%= link_to(I18n.t('forms.buttons.cancel'), dashboard_path, :class => "btn") %>
    </div>
    <div class="span6">
      <%= link_to(I18n.t('invitations.form.buttons.edit_invitation'), invite_users_path(:program_friendly => @program_friendly, :invitation_level => @invitation_type, :emails => @emails_param), :class => "btn") %>
      <%= submit_tag(I18n.t('invitations.form.buttons.send_invitations'), :class => 'btn btn-success') %>
    </div>
  </div>
<% end %>
