- provide(:title, "Review Invitations (#{I18n.t('invitations.form.messages.steps', index:1)})") 
= javascript_include_tag "form_utilities"

%h2= "Review Invitations ( #{t('invitations.form.messages.steps', index:2)} )"

.row#review_instructions
  = t('invitations.form.title.enter_email_addresses.students')

/ errors
= if @invitation.errors.any? 
  #error_explanation
    %h2= "#{pluralize(@invitation.errors.count, "error")} prohibited this invitation from being saved:"
    %ul
      -@invitation.errors.full_messages.each do |msg| 
        %li= msg 

%br/
%br/
= form_for(@invitation, url: {action: :review }, method: :post, html: {:class => 'form-horizontal', :id => 'review_invitations'}) do |f|
  / id
  = hidden_field_tag(:id, @invitation.slug)

  / program
  #program_group.row
    .span4.form-label
      %span{:class => "form-label text-info"}
        = "#{t('terms.program')}"
    .span8
      %span
        - unless session[:invite_users_program_name].nil?
          = session[:invite_users_program_name]
        - else
          = @program.name

  / user_level
  #invitation_group.row
    .span4.form-label
      %span{:class => "form-label text-info"}
        = "#{t('terms.invitation_type')}"
    .span8
      %span
        = user_level_to_s(@invitation.user_level)

  / divider
  .row
    .span2
    .span10.divider_line

  / address
  #invitation_group.row
    #email_group.span4.form-label.control-group{:class => @invitation.errors.messages[:recipient_emails].nil? ? "" : "error" }
      %span{:class=>"form-label text-info"}
        = "#{t('invitations.form.prompt.student_entries')}"
    .span8
      %table.table.table-striped#student_entries
        %thead
          %tr
            %th Student ID
            %th Student Email
        = f.fields_for :student_entries do |se_form| 
          %tr
            %td= se_form.text_field :email
            %td= se_form.text_field :student_id


  .row
    .span4
    .span2
      = link_to(I18n.t('forms.buttons.cancel'), dashboard_path, :class => "btn btn-cancel")
    .span6
      = link_to(I18n.t('terms.back'), address_invitations_path(@invitation), :class => "btn")
      = f.submit(I18n.t('invitations.form.buttons.review_invitations'), :class => 'btn btn-success') 
