- provide(:title, "Review Invitations (#{I18n.t('invitations.form.messages.steps', index:3)})") 

%h2= "Review Invitations ( #{t('invitations.form.messages.steps', index:3)} )"

.row#review_instructions
  = t('invitations.form.review.invitations')

= render 'form_warning_admin'

%br/
%br/
= form_for(@invitation, url: {action: :confirm }, method: :post, html: {:class => 'form-horizontal', :id => 'review_invitations'}) do |f|
  / id
  = hidden_field_tag(:id, @invitation.slug)

  = render 'form_label_program', :f => f
  = render 'form_label_user_level', :f => f
  = render 'form_label_number_of_invites', :f => f, :count => @emails.count

  -# address
  .form-group{:class => @invitation.errors.messages[:recipient_emails].nil? ? "" : "error"}
    = f.label(:name, t('terms.email_addresses'), :class =>'col-sm-3 control-label')
    .col-sm-5
      %ul#review_email_addresses
        - @emails.each do |email|
          %li= email
  %br/

  = render 'form_action_menu', :back_page => address_invitations_path(@invitation), :f => f, :forward_title => I18n.t('invitations.form.buttons.send_invitations') 

