- provide(:title, "Review Invitations (#{I18n.t('invitations.form.messages.steps', index:1)})") 

%h2= "Review Invitations ( #{t('invitations.form.messages.steps', index:2)} )"

.row#review_instructions
  - if (@invitation.user_level == ConstantsHelper::ROLE_LEVEL_ADMIN)
    = t('invitations.form.title.enter_email_addresses.admin')
  - elsif (@invitation.user_level == ConstantsHelper::ROLE_LEVEL_STAFF)
    = t('invitations.form.title.enter_email_addresses.staff')

= render 'form_warning_admin'
= render 'form_errors'

%br/
%br/
= form_for(@invitation, url: {action: :review }, method: :post, html: {:class => 'form-horizontal', :id => 'review_invitations'}) do |f|
  / id
  = hidden_field_tag(:id, @invitation.slug)

  = render 'form_label_program'
  = render 'form_label_user_level'

  / address
  #invitation_group.row
    #email_group.span4.form-label.control-group{:class => @invitation.errors.messages[:recipient_emails].nil? ? "" : "error" }
      %span{:class=>"form-label text-info"}
        = "#{t('terms.email_addresses')} :"
    .span8
      = f.text_area(:recipient_emails, :rows => "10", :value => (@invitation.recipient_emails.blank? ? ConstantsHelper::INVITATION_DEFAULT_NON_STUDENT_EMAIL : @invitation.recipient_emails)) 


  = render 'form_action_menu', :back_page => address_invitations_path(@invitation), :f => f, :forward_title => I18n.t('invitations.form.buttons.review_invitations')
