= render 'form_errors'

/ form
= form_for(@invitation, url: { action: :address }, html: {:class => 'form-horizontal', :id => 'invite_users'}) do |f| 

  / name
  #program_group.control-group{:class => @invitation.errors.messages[:name].nil? ? "" : "error"}
    = f.label(:name, t('terms.name'), :class => 'control-label')
    - name_value = @invitation.name.blank? ? ConstantsHelper::INVITATION_NAME_DEFAULT : @invitation.name
    = f.text_field(:name, :value => name_value)

  %br/
  / program
  #program_group.control-group{:class => @invitation.errors.messages[:program_id].nil? ? "" : "error"}
    = f.label(:program, t('terms.program'), :class => 'control-label')
    = f.select(:program_id, options_for_select(@programs.each.map { |program| [program.name, program.id] }.insert(0, "Select Program"), selected: @invitation.program_id)) 

  %br/
  / type
  #program_group.control-group{:class => @invitation.errors.messages[:user_level].nil? ? "" : "error"}
    = f.label(:program, t('terms.invitation_type'), :class => 'control-label')
    %label{:class => 'radio inline student'}
      = f.radio_button(:user_level, "#{ConstantsHelper::ROLE_LEVEL_STUDENT}", {:id=>"radio_student", :class=>"student"})
      = t('terms.student')
    %label{:class => 'radio inline staff'}
      = f.radio_button(:user_level, "#{ConstantsHelper::ROLE_LEVEL_STAFF}", {:id=>"radio_staff", :class=>"staff"})
      = t('terms.staff')
    %label{:class => 'radio inline admin'}
      = f.radio_button(:user_level, "#{ConstantsHelper::ROLE_LEVEL_ADMIN}", {:id=>"radio_admin", :class=>"admin"})
      = t('terms.admin')

  .actions
    = f.submit t('terms.next')
