= render 'form_errors'


%br/
.row
  .col-md-2
  .col-md-8
    = form_for(@invitation, url: { action: :address }, html: {:class => 'form-horizontal', :id => 'invite_users'}) do |f| 

      -# invitation_name
      .form-group{:class => @invitation.errors.messages[:name].nil? ? "" : "error"}
        = f.label(:name, t('terms.invitation_name'), :class =>'col-sm-3 control-label')
        .col-sm-9
          - name_value = @invitation.name.blank? ? ConstantsHelper::INVITATION_NAME_DEFAULT : @invitation.name
          = f.text_field(:name, {:class => 'form-control', :autofocus => true, :placeholder => "Invitation Name", :value => name_value})
      %br/

      -# program
      .form-group{:class => @invitation.errors.messages[:program_id].nil? ? "" : "error"}
        = f.label(:name, t('terms.program'), :class =>'col-sm-3 control-label')
        .col-sm-5
          = f.select(:program_id, options_for_select(@programs.each.map { |program| [program.name, program.id] }.insert(0, "Select Program"), selected: @invitation.program_id), {}, {:class => "form-control"}) 
      %br/

      -# type
      .form-group{:class => @invitation.errors.messages[:user_level].nil? ? "" : "error"}
        = f.label(:name, t('terms.invitation_type'), :class =>'col-sm-3 control-label')
        .col-sm-9
          %label{:class => 'radio inline student'}
            = f.radio_button(:user_level, "#{ConstantsHelper::ROLE_LEVEL_STUDENT}", {:id=>"radio_student", :class=>"student"})
            = t('terms.student')
          %label{:class => 'radio inline staff'}
            = f.radio_button(:user_level, "#{ConstantsHelper::ROLE_LEVEL_STAFF}", {:id=>"radio_staff", :class=>"staff"})
            = t('terms.staff')
          %label{:class => 'radio inline admin'}
            = f.radio_button(:user_level, "#{ConstantsHelper::ROLE_LEVEL_ADMIN}", {:id=>"radio_admin", :class=>"admin"})
            = t('terms.admin')

      .actions
        = f.submit t('terms.next')
  .col-md-2




