<% provide(:title, "Review Invitations (Step 2 of 2)") %>
<%= javascript_include_tag "form_utilities" %>

<h2>Review Invitations (Step 2 of 2)</h2>

<%= t('invitations.form.review.invitations', count:1) %>

<%= form_tag({:action => "submit_invitations", :controller => "invitations"},{:class => 'form-horizontal', :id => 'submit_invitations'}) do %>
  <!-- PROGRAM -->
  <div id="program_group" class="control-group">
    <label class="inline">Program:</label>
    <%= @program.name %>
  </div>

  <!-- INVITATION -->
  <div id="invitation_group" class="control-group">
    <label class="inline">Invitation Type:</label>
    <%= @Invitation_level %>
  </div>

  <!-- EMAIL -->
  <div id="email_group" class="control-group">
    <ul>
      <% @emails.each do |email| %>
        <li><%= email %></li>
      <% end %>
    </ul>
  </div>
  <%= submit_tag("Submit Invitations", :id => '') %>
<% end %>
