= @invitation.inspect
%br/
= params[:invitation].inspect

%br/
/ errors
= if @invitation.errors.any? 
  #error_explanation
    %h2= #{pluralize(@invitation.errors.count, "error")} prohibited this invitation from being saved:
    %ul
      -@invitation.errors.full_messages.each do |msg| 
        %li= msg 

/ form
= form_for(@invitation, url: { action: :address }, html: {:class => 'form-horizontal', :id => 'invite_users'}) do |f| 

  #program_group.control-group{:class => @invitation.errors.messages[:name].nil? ? "" : "error"}
    / name
    = f.label(:name, t('terms.name'), :class => 'control-label')
    = f.text_field(:name, :value => 'something')

  #program_group.control-group{:class => @invitation.errors.messages[:program_id].nil? ? "" : "error"}
    / program
    = f.label(:program, t('terms.program'), :class => 'control-label')
    - selected = !params[:invitation][:program_id].nil? ? params[:invitation][:program_id] : @invitation.program_id
    = f.select(:program_id, options_for_select(@programs.each.map { |program| [program.name, program.slug] }.insert(0, "Select Program"), selected: selected)) 

  .actions
    = f.submit 
