- provide(:title, "Review Invitations (#{I18n.t('invitations.form.messages.steps', index:1)})") 

%h2= "Review Invitations ( #{t('invitations.form.messages.steps', index:2)} )"

.row#review_instructions
  = t('invitations.form.title.enter_email_addresses.students')

= render 'form_errors'
%br/
%br/
= form_for(@invitation, url: {action: :review }, method: :post, html: {:class => 'form-horizontal', :id => 'review_invitations'}) do |f|
  / id
  = hidden_field_tag(:id, @invitation.slug)

  = render 'form_label_program'
  = render 'form_label_user_level'

  / divider
  .row
    .span2
    .span10.divider_line

  / address
  #invitation_group.row
    #email_group.span4.form-label.control-group{:class => @invitation.errors.messages[:recipient_emails].nil? ? "" : "error" }
      %span{:class=>"form-label text-info"}
        = "#{t('invitations.form.prompt.student_entries')}"
    .span8
      %table.table.table-striped#student_entries
        %thead
          %tr
            %th= t('terms.student_email')
            %th= t('terms.student_id')
        = f.fields_for :student_entries do |se_form| 
          %tr
            %td= se_form.text_field :email, :value => (se_form.object.email.blank? ? ConstantsHelper::INVITATION_DEFAULT_STUDENT_EMAIL : se_form.object.email), :class => (se_form.object.email.blank? ? "form_default_entry email_entry" : "email_entry")
            %td
              = se_form.text_field :student_id, :value => (se_form.object.student_id.blank? ? ConstantsHelper::INVITATION_DEFAULT_STUDENT_ID : se_form.object.student_id), :class => (se_form.object.student_id.blank? ? "form_default_entry id_entry" : "id_entry")
              = se_form.hidden_field(:invitation_id, :value => @invitation.id)
  #invitation_action.row
    .span4
    .span8
      %a.btn#add_student_entries= t('terms.add_rows')
  %br/
  %br/

  = render 'form_action_menu', :back_page => address_invitations_path(@invitation), :f => f, :forward_title => I18n.t('invitations.form.buttons.review_invitations') 
