<% provide(:title, "Review Invitations (Step 2 of 2)") %>
<%= javascript_include_tag "form_utilities" %>

<h2>Review Invitations ( <%= t('invitations.form.messages.steps', index:2) %> )</h2>

<div class="row" id="review_instructions">
  <% if (session[:invite_users_invitation_type].to_i == ConstantsHelper::ROLE_LEVEL_ADMIN) %>
    <%= t('invitations.form.title.enter_email_addresses.admin') %>
  <% elsif (session[:invite_users_invitation_type].to_i == ConstantsHelper::ROLE_LEVEL_STAFF) %>
    <%= t('invitations.form.title.enter_email_addresses.staff') %>
  <% elsif (session[:invite_users_invitation_type].to_i == ConstantsHelper::ROLE_LEVEL_STUDENT) %>
    <%= t('invitations.form.title.enter_email_addresses.students') %>
  <% end %>
</div>

<% if (session[:invite_users_invitation_type].to_i == ConstantsHelper::ROLE_LEVEL_ADMIN) %>
  <br/><br/>
  <div class="row label label-warning">
    <div class="span12">
      <h5><%= t('invitations.form.warnings.admin_invitations') %></h5>
    </div>
  </div>
<% end %>

<!-- ERRORS -->
<% if(!flash.empty?) %>
  <div>
    <ul>
      <% flash.each do |key, value| %>
        <% if((key.to_s!="valid") && 
            (key.to_s!="error_duplicate_invitation") && 
            (key.to_s!="emails") && 
            (key.to_s!="invite_users_program") && 
            (key.to_s!="invite_users_invitation_type")) %>
          <li><%= value %></li>
        <% end %>
      <% end %>
    </ul>
    <% unless flash[:error_duplicate_invitation].nil? %>
      <%= t('invitations.form.errors.duplicate_invitation', count:flash[:error_duplicate_invitation].count, program_name: @program.name) %>
      <ul class="errors_duplicate_invitation">
        <% flash[:error_duplicate_invitation].each_value do |email| %>
          <li><%= email %></li>
        <% end %>
      </ul>
    <% end %>
     <% unless flash[:error_role_in_program].nil? %>
      <%= t('invitations.form.errors.user_already_in_program', count:flash[:error_role_in_program].count, program_name: @program.name) %>
      <ul class="errors_role_in_program">
        <% flash[:error_role_in_program].each_value do |email| %>
          <li><%= email %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<br/><br/>
<%= form_tag({:action => "review_invitations", :controller => "invitations"},{:class => 'form-horizontal', :id => 'review_invitations'}) do %>
  <!-- PROGRAM -->
  <div id="program_group" class="row">
    <div class="span4 form-label">
      <span class="form-label text-info"><%= t('terms.program') %>:</span>
    </div>
    <div class="span8">
      <span>
        <% unless session[:invite_users_program_name].nil? %>
          <%= session[:invite_users_program_name] %>
        <% else %>
          <%= @program.name %>
        <% end %>
      </span>
    </div>
  </div>

  <!-- INVITATION -->
  <div id="invitation_group" class="row">
    <div class="span4 form-label">
      <span class="form-label text-info"><%= t('terms.invitation_type') %>:</span>
    </div>
    <div class="span8">
      <span>
        <% unless session[:invite_users_invitation_type].nil? %>
          <%= user_level(session[:invite_users_invitation_type]) %>
        <% else %>
          <%= @invitation_level %>
        <% end %>
      </span>
    </div>
  </div>

  <!-- ADDRESSES -->
  <div id="invitation_group" class="row">
    <% if (flash[:error_email].nil? && flash[:error_duplicate_invitation].nil? && flash[:error_role_in_program].nil?) %>
      <div id="email_group" class="span4 form-label control-group">
    <% else %>
      <div id="email_group" class="span4 error form-label control-group">
    <% end %>
      <span class="form-label text-info"><%= t('terms.email_addresses') %>:</span>
    </div>
    <div class="span8">
    <% if !session[:invite_users_email_addresses].nil? %>
      <%= text_area_tag(:email_addresses, session[:invite_users_email_addresses], :rows => "10") %>
    <% elsif (!flash[:invite_users_email_addresses].nil?) %>
      <%= text_area_tag(:email_addresses, flash[:invite_users_email_addresses], :rows => "10", :class => "span5") %>
    <% else %>
      <%= text_area_tag(:email_addresses, t('invitations.form.prompt.default_email'), :rows => "10", :class => "span5") %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <div class="span4">
    </div>
    <div class="span2">
      <%= link_to(I18n.t('forms.buttons.cancel'), dashboard_path, :class => "btn btn-cancel") %>
    </div>
    <div class="span6">
      <%= link_to(I18n.t('terms.back'), invite_users_type_path(:program_friendly => @program_friendly, :invitation_type => @invitation_type, :emails => @emails_param), :class => "btn") %>
      <%= submit_tag(I18n.t('invitations.form.buttons.review_invitations'), :class => 'btn btn-success') %>
    </div>
  </div>
<% end %>
