- provide(:title, "Review Invitations (#{I18n.t('invitations.form.messages.steps', index:3)})") 

%h2= "Review Invitations ( #{t('invitations.form.messages.steps', index:3)} )"

.row#review_instructions
  = t('invitations.form.review.invitations')

= render 'form_warning_admin'

%br/
%br/
= form_for(@invitation, url: {action: :confirm }, method: :post, html: {:class => 'form-horizontal', :id => 'review_invitations'}) do |f|
  / id
  = hidden_field_tag(:id, @invitation.slug)

  = render 'form_label_program'
  = render 'form_label_user_level'
  = render 'form_label_number_of_invites', :count => @emails.count

  / address
  #invitation_group.row
    #email_group.span4.form-label.control-group{:class => @invitation.errors.messages[:recipient_emails].nil? ? "" : "error" }
      %span{:class=>"form-label text-info"}
        = "#{t('terms.email_addresses')} :"
    .span8
      %ul
        - @emails.each do |email|
          %li= email

  = render 'form_action_menu', :back_page => address_invitations_path(@invitation), :f => f, :forward_title => I18n.t('invitations.form.buttons.send_invitations') 

