<% provide(:title, "Invite Users (Step 1 of 2)") %>
<%= javascript_include_tag "form_utilities" %>
<%= javascript_include_tag "invite_users" %>

<h2>Send Invitations (Step 1 of 2)</h2>

<% if(!@errors.empty?) %>
  <div>
    <ul>
      <% @errors.each do |key, value| %>
        <% if((key.to_s!="valid") && (key.to_s!="emails") && (key.to_s!="duplicate_invitation")) %>
          <li><%= value %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag({:action => "review_invitations", :controller => "invitations", :method => "post"},{:class => 'form-horizontal', :id => 'invite_users'}) do %>
  <!-- PROGRAM -->
  <% if @errors[:program_id].nil? %>
    <div id="program_group" class="control-group">
  <% else %>
    <div id="program_group" class="error control-group">
  <% end %>
    <%= label_tag(:program, "Program", :class => 'control-label') %>
    <%= select_tag(:program_id, options_for_select(@programs.each.map { |program| [program.name, program.slug] }.insert(0, "Select Program"), selected: @program_friendly)) %>
  </div>

  <!-- INVITATION -->
  <% if @errors[:invitation_level].nil? %>
    <div id="invitation_group" class="control-group">
  <% else %>
    <div id="invitation_group" class="error control-group">
  <% end %>
    <%= label_tag(:invitation_type, "Invitation Type", :class => 'control-label') %>
    <label class="radio inline student">

      <% if(@invitation_type=="0")%>
        <input id="radio_student" checked="checked" class="student" name="invitation_type" value="0" type="radio"> 
      <% else %>
        <input id="radio_student" class="student" name="invitation_type" value="0" type="radio"> 
      <% end %>

      Student
    </label>
    <label class="radio inline staff">
      <% if(@invitation_type=="1")%>
        <input id="radio_staff" checked="checked" class="staff" name="invitation_type" value="1" type="radio"> 
      <% else %>
        <input id="radio_staff" class="staff" name="invitation_type" value="1" type="radio"> 
      <% end %>
      Staff
    </label>
    <label class="radio inline admin" id="label_admin">
      <% if(@invitation_type=="2")%>
        <input id="radio_admin" class="admin" checked="checked" name="invitation_type" value="2" type="radio"> 
      <% else %>
        <input id="radio_admin" class="admin" name="invitation_type" value="2" type="radio"> 
      <% end %>
      Admin
    </label>
  </div>

  <!-- EMAIL -->
  <% if @errors[:email].nil? %>
    <div id="email_group" class="control-group">
  <% else %>
    <div id="email_group" class="error control-group">
  <% end %>
    <%= label_tag(:email_addresses, "Email Addresses", :class => 'control-label') %>
    <% if ((@emails.nil?) || (@emails.blank?)) %>
      <%= text_area_tag(:email_addresses, t('invitations.form.prompt.default_email'), size: "70x10") %>
    <% else %>
      <%= text_area_tag(:email_addresses, @emails, size: "70x10") %>
    <% end %>
  </div>
  <%= submit_tag("Review Invitations", :id => '') %>
<% end %>
