- content_for :head do
  = javascript_include_tag "angular"

%h1 Listing invitations
%div{'ng-app' => ''}
  {{ 1 + 3}}
%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @invitations.each do |invitation| 
      %tr
        %td= link_to 'Show', invitation 
        %td= link_to 'Edit', edit_invitation_path(invitation) 
        %td= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } 
%br/

= link_to 'New Invitation', new_invitation_path 
