- content_for :head do
  = javascript_include_tag "angular"
  = javascript_include_tag "angular/filters/user-invitation-level"
  = javascript_include_tag "angular/get_request_example"

.row
  %h1 Listing invitations
  %br/
.row
  .col-md-3
  .col-md-9
    = link_to 'New Invitation', new_invitation_path, :class => 'btn btn-primary btn-large'
%br/

.row{'ng-app' => 'invitationsUser', 'ng-controller' => 'invitationsCtrl'}
  -# invitations filter
  .col-md-3
    Filter 
    %br/
    %input.form-control{'ng-model'=>'query'}
    %br/

  -# invitations table
  .col-md-9
    %div
      %table.table.table-striped
        %thead
          %tr
            %th= t('terms.invitation_name')
            %th= t('terms.invitation_type')
            %th= t('terms.status')
        %tbody
          %tr{'ng-repeat' => 'invitation in invitations | filter:{name:query}'}
            %td
              %a{'href'=>'invitations/{{invitation.id}}'}
                {{ invitation.name }}
            %td
              {{ invitation.user_level | filterInvitationsUserLevel }}
            %td
              {{ invitation.status }}
