- content_for :head do
  = javascript_include_tag "angular"
  = javascript_include_tag "angular/common/modules/invitation-user-level"
  = javascript_include_tag "angular/common/modules/invitation-status"
  = javascript_include_tag "angular/invitations/index"

.row
  %h1 Listing invitations
  %br/
.row
  .col-md-3
  .col-md-9
    = link_to 'New Invitation', new_invitation_path, :class => 'btn btn-primary btn-large'
%br/

.row{'ng-app' => 'invitationsIndex', 'ng-controller' => 'invitationsCtrl'}
  -# invitations filter
  .col-md-3
    %form.form-horizontal{'role' => 'form'}
      .form-group
        .col-sm-4
          %label.control-label Filter 
        .col-sm-8
          %input.form-control{'ng-model'=>'query'}
      .form-group
        .col-sm-4
          %label.control-label Sent
        .col-sm-8
          %input.form-control{'type'=>'checkbox', 'ng-model'=>'onlySent'}

  -# invitations table
  .col-md-9
    %div
      %table.table.table-striped
        %thead
          %tr
            %th= t('terms.invitation_name')
            %th= t('terms.invitation_type')
            %th= t('terms.status')
        %tbody
          %tr{'ng-repeat' => 'invitation in invitations | filter:{name:query} | filterInvitationsCheckbox : onlySent'}
            %td
              %a{'href'=>'invitations/{{invitation.id}}'}
                {{ invitation.name }}
            %td
              {{ invitation.user_level | filterUserLevel }}
            %td
              {{ invitation.status | filterInvitationsStatus }}
