- content_for :head do
  = javascript_include_tag "angular"
  = javascript_include_tag "angular/get_request_example"

%h1 Listing invitations
%div{'ng-app' => 'phonecatApp', 'ng-controller' => 'PhoneListCtrl'}
  {{ 1 + 3}}
  %button{'ng-href'=>'#', 'ng-click'=>'clickMethod()'}
    click me
%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @invitations.each do |invitation| 
      %tr
        %td= link_to 'Show', invitation 
        %td= link_to 'Edit', edit_invitation_path(invitation) 
        %td= link_to 'Destroy', invitation, method: :delete, data: { confirm: 'Are you sure?' } 
%br/

= link_to 'New Invitation', new_invitation_path 
