- content_for :head do
  = javascript_include_tag "angular"
  = javascript_include_tag "angular/get_request_example"

.row
  .col-md-2
  .col-md-8
    %h1 Listing invitations
    = link_to 'New Invitation', new_invitation_path, :class => 'btn btn-primary btn-large'
    %br/
    %br/
    %div{'ng-app' => 'invitationsUser', 'ng-controller' => 'invitationsCtrl'}
      -# invitations table
      %table.table.table-striped
        %thead
          %tr
            %th= t('terms.invitation_name')
            %th= t('terms.invitation_type')
        %tbody
          %tr{'ng-repeat' => 'invitation in invitations'}
            %td
              %a{'href'=>'invitations/{{invitation.id}}'}
                {{ invitation.name }}
            %td
              %a{'href'=>'invitations/{{invitation.id}}'}
                {{ invitation.user_level }}

  .col-md-2
