<% provide(:title, "Invite Users (Step 1 of 3)") %>
<h2>Send Invitations (Step 1 of 3)</h2>
<%= form_tag({},{:class => 'form-horizontal', :id => 'invite_users'}) do %>
  <div class="control-group">
    <%= label_tag(:program, "Program", :class => 'control-label') %>
    <%= select_tag(:program_id, options_for_select([['Lisbon', 1], ['Madrid', 2]])) %>
  </div>
  <div class="control-group">
    <%= label_tag(:invitation_type, "Invitation Type", :class => 'control-label') %>
    <label class="radio inline">
      <input name="invitation_type" value="staff" type="radio"> Student
    </label>
    <label class="radio inline">
      <input name="invitation_type" value="staff" type="radio"> Staff
    </label>
    <label class="radio inline">
      <input name="invitation_type" value="admin" type="radio"> Admin
    </label>
  </div>
  <div class="control-group">
    <%= label_tag(:email_addresses, "Email Addresses", :class => 'control-label') %>
    <%= text_area_tag(:email_addresses, "Enter emails here", size: "70x10") %>
  </div>
  <%= submit_tag("Review Invitations", :id => '') %>
<% end %>
