- provide(:title, "Invite Users (#{t('invitations.form.messages.steps', index:1)})")
= stylesheet_link_tag "invitations"
- content_for :head do
  = javascript_include_tag "forms"
  = javascript_include_tag "invitations"
  = javascript_include_tag "/invitations/invitations_type.js"

%h2 Send Invitations ( #{t('invitations.form.messages.steps', index:1)} )

= render 'form'
