- provide(:title, "Invite Users (#{t('invitations.form.messages.steps', index:1)})")
= javascript_include_tag "form_utilities"
= javascript_include_tag "invite_users"

%h2 Send Invitations ( #{t('invitations.form.messages.steps', index:1)} )

= render 'form'
