<% provide(:title, "Review Invitations ( #{t('invitations.form.messages.steps', index:3)} )") %>
<%= javascript_include_tag "form_utilities" %>

<h2>Review Invitations ( <%= t('invitations.form.messages.steps', index:3) %> )</h2>

<div class="row" id="review_instructions">
  <h2> <%= t('invitations.form.title.review') %></h2>
</div>

<% if (session[:invite_users_invitation_type].to_i == ConstantsHelper::ROLE_LEVEL_ADMIN) %>
  <br/><br/>
  <div class="row label label-warning">
    <div class="span12">
      <h5><%= t('invitations.form.warnings.admin_invitations') %></h5>
    </div>
  </div>
<% end %>

<br/><br/>
<%= form_tag({:action => "confirm"},{:class => 'form-horizontal', :id => 'review_invitations'}) do %>
  <!-- PROGRAM -->
  <div id="program_group" class="row">
    <div class="span4 form-label">
      <span class="form-label text-info"><%= t('terms.program') %>:</span>
    </div>
    <div class="span8">
      <span><%= @program.name %></span>
    </div>
  </div>

  <!-- INVITATION -->
  <div id="invitation_group" class="row">
    <div class="span4 form-label">
      <span class="form-label text-info"><%= t('terms.invitation_type') %>:</span>
    </div>
    <div class="span8">
      <span><%= user_level_to_s(@invitation.user_level) %></span>
    </div>
  </div>

  <!-- NUMBER OF INVITATIONS -->
  <div id="invitation_group" class="row">
    <div class="span4 form-label">
      <span class="form-label text-info"><%= t('terms.number_of_invitations') %>:</span>
    </div>
    <div class="span8">
      <span><%= @emails.count %></span>
    </div>
  </div>

  <!-- ADDRESSES -->
  <div id="invitation_group" class="row">
    <div id="email_group" class="span4 error form-label control-group">
      <span class="form-label text-info"><%= t('terms.email_addresses') %>:</span>
    </div>
    <div class="span8">
      <!-- LIST EMAILS HERE -->
      <ul>
        <% @emails.each do |email| %>
          <li><%= email %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="span4">
    </div>
    <div class="span2">
      <%= link_to(I18n.t('forms.buttons.cancel'), dashboard_path, :class => "btn btn-cancel") %>
    </div>
    <div class="span6">
      <%= link_to(I18n.t('terms.back'), address_invitations_path, :class => "btn") %>
      <%= submit_tag(I18n.t('invitations.form.buttons.send_invitations'), :class => 'btn btn-success') %>
    </div>
  </div>
<% end %>
