%h2 Sign in

%br/
-# %input.form-control#inputEmail{'type'=> "email", 'placeholder' => "Email"}
.row
  .col-md-2
  .col-md-8
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
      .form-group
        = f.label(:email, :class =>'col-sm-3 control-label')
        .col-sm-9
          = f.email_field(:email, {:class => 'form-control', :autofocus => true, :placeholder => "Email"})
      %br/
      .form-group
        = f.label(:password, :class =>'col-sm-3 control-label')
        .col-sm-9
          = f.password_field(:password, {:class => 'form-control'})

      - if devise_mapping.rememberable?
        .form-group
          .col-sm-offset-3.col-sm-9
            .checkbox
              %label
                = f.check_box :remember_me
                Remember me
      .form-group
        .col-sm-3
        .col-sm-9
          = f.submit "Sign in"
  .col-md-2
= render "devise/shared/links"
