!!!
%html
  %head
    %title= full_title(yield(:title)) 
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = yield :head
    = csrf_meta_tags 
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .container
      - unless notice.nil? 
        %p.notice= notice 
      - unless alert.nil? 
        %p.alert= alert
      = yield 
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
